<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid d-flex" style="flex-wrap: nowrap;">
      <div class="me-auto logo-header align-items-center d-flex">
        <a class="navbar-brand" href="/getdata" style="padding-right: 0px;">
          <img src="/assets/images/Euodoo.png" alt="Image" style="width: 90px; height: auto; padding: 0; float: left">
        </a>
        <div class="vl"></div>
        <div class="nav-events">AFCS</div>
      </div>
      <div class="admin-dropdown " >
        <button class="drop-btn" onclick="dropContent()" style="border: none; background-color: transparent;">
          <div class="profile d-flex align-items-center">
            <i class="fas fa-user-circle" style="color: #000000; font-size: 30px; margin-left: -20%;"></i>
            <h5 style="margin: 0; margin-left: 5%; margin-right: 5%;">Admin</h5>
            <i class="fa-solid fa-chevron-down" style="color: #000000; font-size: 20px;"></i>
          </div>
          
        </button>

        <div class="admin-content">
          <a href="/adduser"> 
            <i class="fa fa-cog mr-4" aria-hidden="true" style=" font-size: 18px;"></i> 
            <p>Settings</p> 
          </a> 
          <form action="/logout" method="GET">
            <button class="admin-logout">
              <i class="fa-solid fa-right-from-bracket" style=" font-size: 18px;"></i> 
              <p>Log out</p>
            </button>
              
          </form>
          
        </div>
  
      </div>
      
     
    </div>

</nav>

<script>
  const dropContent = ()=>{
    const content = document.querySelector(".admin-content");

    if(content.style.display === ""){
      content.style.display = "block";
    }
    else{
      content.style.display = "";
      // profile.style.color = "black";
    }
    

  }
</script>

